 /*font for main title*/
 @import url('https://fonts.googleapis.com/css?family=Rubik:700');

* {
	box-sizing: border-box;
}

a{
	color: #fff;
	text-decoration: none;
}

a:hover, a:active{
	color: #cd2626;
}
body{
	background-color: #222;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
}

.page-wrapper{
	width: 75%;
}

.intro, header{
	width: 100%;
	position: relative;
	display: block;
	clear: both;
}

header{
	display: block;
	width: 50%;
	height: 400px;
	float: left;
	text-align: right;
	padding: 100px 25px 0px 0px;
}
.intro header h1{
	display: block;
	float: left;
	clear: both;
	color: #CD2626;
	font-family: Rubik, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 5em;
	line-height: 1;
	width: 100%;
	margin: 0 auto;
}
.intro header h2{
	float: left;
	color: #ccc;
	clear: both;
	font-family: Rubik, sans-serif;
	line-height: 1;
	width: 100%;
	margin: 0 auto;
	margin-right: 5px;
}


#zen-summary{
	float: left;
	display: block;
	width: 30%;
	padding: 100px 0px 0px 25px;
}

#zen-summary a{
	text-transform: uppercase;
	white-space: nowrap;
}

/*download icons for HTML/CSS files*/
#zen-summary a::before{
	background-image: url("images/cloud.png");
	content: '';
	height: 25px;
	width: 25px;
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 25px;
	background-position: 0px 5px;
	margin-right: 3px;
	line-height: 16px;
}

/*middle vertical divider in main header, hide/make horizontal on smaller screens*/
#zen-summary::before{
	content: '';
	width: 1px;
	background-color: #85E8C8;
	height: 250px;
	display: block;
	position: relative;
	left: -25px;
	float: left;
}

#zen-preamble{
	clear: both;
	padding: 0 5%;
}


#zen-supporting div[role="article"]{
	padding: 0 5%;
}
h3{
	font-size: 2em;
	color: #85E8C8;
}

.design-selection li{
	list-style: none;
}

/*styling individual design links*/

/*design title*/
.design-selection li a:first-child{
	font-style: italic;
	font-weight: bold;
}

.design-selection li a:hover{
	text-decoration: underline;
}
/*design creator name*/
.design-selection li a:nth-child(2){

}

.sidebar {
	float: right;
	display: block;
	background-color: #ccc;
	/*background-color: #32CC99;*/
	padding: 20px;
	color: #222;
	clear: both;
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: 100%;
}

.sidebar h3{
	color: #222;
	margin: 0;
}

.sidebar a{
	color: #CD2626;
}
/*footer with design info*/
footer{
	background-color: #cd2626;
	bottom: 0;
	height: 100px;
	left: 0;
	width: 100%;
	clear: both;
	text-align: center;
}

footer a{
	display: inline-block;
	text-align: center;
  	text-indent: 100%;
  	white-space: nowrap;
  	overflow: hidden;
  	height: 75px;
  	width: 75px;
	margin: 10px 2%;
}

footer a:hover{
	color: inherit;
	text-decoration: underline;
}

/*footer icons*/

.zen-validate-html{
	background: url(images/html5.png);
	background-repeat: no-repeat;
	background-size: 75px;
}

.zen-validate-css{
	background: url(images/css3.png);
	background-repeat: no-repeat;
	background-size: 75px;
}

.zen-license{
	background: url(images/cc.png);
	background-repeat: no-repeat;
	background-size: 75px;
}

.zen-accessibility{
	background: url(images/accessibility.png);
	background-repeat: no-repeat;
	background-size: 75px;
}

.zen-github{
	background: url(images/github2.png);
	background-repeat: no-repeat;
	background-size: 75px;
}

p[role="contentinfo"]{
	z-index: 999;
	float: left;
	clear: both;
	display: block;
}
@media all and (max-width: 991px){
	.sidebar{
		float: left;
		width: 100%;
		position: relative;
		padding: 20px 5%;
	}

	.page-wrapper{
		width: 100%;
	}
}

@media all and (max-width: 991px){
	#zen-summary{
		float: left;
		width: 100%;
		padding: 0 5%;
	}
	#zen-summary:before{
		display: none;
	}

	header{
		width: 100%;
		height: initial;
		padding: 20px 0 0 5%;
		text-align: left;
	}
	.intro header h1{
		font-size: 3em;

	}
}

@media all and (max-width: 507px){
	footer{
		height: initial;
	}
	footer a{
	    margin: 10px 5%;
	}

}